<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

  <!-- Header -->
  <header class="w3-container w3-xlarge w3-padding-24">
    <a href="#" class="w3-left w3-button w3-white">MY ART</a>
    <a href="#about" class="w3-right w3-button w3-white">About</a>
  </header>

  <!-- Photo Grid -->
  <div class="w3-row">
    <div class="w3-half">
      <img src="https://lh3.googleusercontent.com/A6lPHKvKhVeqWJCWqSrrfQF0jzzjk2aCwJKyrAlmW468I24V_5A_fiHfZ9N26j4TeawovjL6oMSxd72OZdcXgSWmIlVTYqV4YHtkegRDaJEkUfkXmqlWKmwvHnrw6PNeYTJzEPaMXLZ_W6XMm3ewJ9j71L4K9FKNX7w8w6R_l8Av9-f5wSbxl3SdY6OhpyQjLxkE1RdOl0a0cE2zVmw5UJ8gQNZNkGqUn1bibJrlsIpzqCfnnt6nL7_vUc32rhZnWJTt67rNiaN1W-YmxHiCwsrDFj6jnFZX9EnfHxLlgb62s1jjpV745JP6qj0yG4jhfh1EZolhk1onEICvz_zhwwQVGqT7fzC1AEX7d-_ho7Jc7o1OjbH8qPxqDxmByy9_TvCFDk0CH8BNtuZfbVtoRYpAW4IipZuhZSHWkBF5ooOkQLtMcV_Z1pST-LEMMMcxeH9P2CXNmQazxgMNiGmayhi1tK8lggfoNrOWyQrKenswMIagQDa9XL0jCQRALupkW0zSpEcHy0WCnHBML8Jkmw3ATlyimF7TIiVmp2UxFKWP7OtrBNd3lQCAWCeGL7oDXsgjf8jj_t2X27NuPCfWB-BrufzOnWOWYymQDIiaQ4T6jjdExkIElyhCZ23McH5otCcCBuoUIbqvGzVsYpaHWg4qnTljGoLpDYJtooZnZn1fKBDStZVEg-Ppa0Js2iOVD1adO16kW0EPCtJiQl8zEWA=w727-h969-no?authuser=0" style="width:100%">
      <img src="https://lh3.googleusercontent.com/q3chAxs3Cqch2mNgp5SPXF-OvnyJ_2MKZoUupe7qkuNLA2dw77Z9fNEiYB-1BkhVfwFcKsbTCpa6DRrr6YQFHqbXhuNEgohJNatq4bzzCLEu77WtcRV1WW3QrHhSbeB1TAo55e4khmb1lEVxRhfyatAOoAQCbsz0NT8yc78yOukTHztDFmvfVvU8yUQufnUkgOiFyERENTx7QSkhADnvh7uhMnCLh3MQmprci-kGA_XzfdEvY8Lk1TdtFi9CcZ7-Yhz7ZTYvS4Pf3vYmDG1HeBd30TyVf6kj5bnTWqKFO80_w4wedubH57RKFLw0LjqiYQ6LlYHGdux9TlZLePzEG6nibM-uep_08BOOTK_W5-GMo1HtCdiqf9YrlA-g105vFpeXxFj5RA6-1FCOA2g6X9uz3HN5DvJOGHhVETsw4-TN9n1fm3LJ2YxHK5cYVBREumq4bBFMpMyGLU3GYfFLsFLJaUqNa1OcWKGqjiRbbIa8Ti3_kauxK6qpIg4drvx-uRjdAV2RCoVrOs8uWyEGuy2XybVQz4j71JRftYJJlpk3mV__UqIFVx-7iv_YiqWdKdFyt3ZCRcyUrpoTh0NCjWeG5RxzdbdyxaU_wN3MBP8D0pjLSdpaTHadznK7lMZnL8ul4d63ofaq95iowGxD8wF_H0KjJ5_dijs-qbRojnUzeemkM0Qcg_9XjyfmuwfFnnbwUq2E8upoIK7IpBayBmo=w727-h969-no?authuser=0" style="width:100%">
      <img src="https://lh3.googleusercontent.com/MzGJkWFaRNGBqK59oibKxdrH32nvVBi9MTGwkWm3DjKW8l98vJS-PuPf1R1uWY5nZ0sZlWBd4UXblQbOePYDfHAQ4o31BkJTB3fwB4tRbtOrrZwPqLOw-8FoOOT2l0CfwVzhNfUaxDos0U21Xi5YAK_tXlcOyY9lQx8LhdqkKPWzckBq-xmZhDQBsLa1ot0tsk5Peo0r1QTIyHsS0Gp_rJml1dyp1-KB0pq-7OEZmCVwM6eQyBw2ez8UZhETNvRXcnIRAxp3698es3lsWeW3nJUQfLqbUB3NEcQsG-BvWJTPCoj1_0ZN07lDn9jrQsv-6YunfzNOdTG2H5ygFjmPElBbeWhqxB06TQA-eSXSXRjyG8zJDheq0dNKQVw8kfI0a1r8OhoSOieMs1IQV_elh9GK1i3-bMoJfMorAIjBY4Rjc7HkKxJucVElkZL5y3sWqrRAnnGV-50WlTsIXuAFrJAQVB30iJmVkvmxRYrvkvTrlGBOsIxWg5TKxzEMfUCv5yp3M8AhrrSlbl6TSCL9fv3yEK_Ps7n9ephcG3snc586dkzMtoY9pejxlp57mn0mvXMEB_U6d3PaSkNF4l0kpvdFAoTJwbAFzuz87uaT8AO3hAt09l4-tg9rzFxPWBdphKfwmq6kuKZmlTKXdYF_iEHd4inn3EIoArr1bLdJF8dQ4RyVB1fGKUX89-FaDSVa_M-MqjRQx5hI-l0SHaxoB7U=w727-h969-no?authuser=0" style="width:100%">
    </div>

    <div class="w3-half">
      <img src="https://lh3.googleusercontent.com/AMBLHON2iZwfxLhpYbCTHdd0xZIcXnAZjEOsw2-aZK0lgVtFTbwxxjZIYs8jvZPQSOMBKNqggG00lUBmFM0QY1vSgg9mWTlv9DKw00xK3uG8oJ2VONy_vY6097187n95cKo0n2PGQpiZESvTJwX59tK5Dp8TBqZzWslsHgE9CURP-HYK4ykOpTmNZfZZ25xeevUJjgHrFOHZDkshq8ubCgVJjAujEK6ye85SHTjIwyuQRUXlD_hD-0yFVjPDfl2nJCcS-wOJuNsfdPei0s-EUvAzMx8z4SqTH1-J1HLvleId8EbtZ2s9LTNgUL9m_AVrwD7ca07daSR9hQ-EWduHll3BeALwWMbuyMTOjUOxGR76U8LR-wiHQoIQVwy46zbvDoA3_Ov8Q8nHy_bb7A1VqZyj-XDg47Gc4-32Q9cwxxPb7VA76oNmMCN4tBCEQPL8k4nq9G9HI5PmzmtP9jqSHaisjpgqnyGdEXsVPifjmK_rNPsNDpmvDgar9IbCww0vaFt19FdsZLI6v3B80AviHy07JOorkYTuUWOd1AZItRDAgnVEmGE49VMLOVLLyP_w10RvSGLKaqOeBKuIDLbnPOei6ZAsB553WRSc4jTrdZtMmwlILQlXbhfzfuC9jIWhCOn5PReZBIpMjS_9kdbX8bchkhjiwbUjAREaoNer1BTaU8iFDkG7Z3uCQYJTWEQJJEJdtb-97kpzUKGZXFVz4qQ=w727-h969-no?authuser=0" style="width:100%">
      <img src="https://lh3.googleusercontent.com/biYoN_xM9EdruNPy7bn9sWBzjaa3gxt3YK1xhb_-KSh1bkyp8_TOKr3OHn-MKQdPUBz2sqKVZbboa3KCCgcIbJf13cOAftcisUNIpvC_l8Ydoewx5Sy4RX2NEYozrxJ3f2df1P17-4a-FC5xhlP8upwAucz6I14Nt4ElNufGb-sr_QPhD_Pg-QF94UrgnnfNS5axHPI0zVrd7ZCxswG6wntkTWyVgg4WZFN1nKxw6LIS1BbLud657E726YPcnZ9grXu3YSJq5JH5s0QdVm9FJL5kHWSrK3Ipht4PZFPzxFEQgWrhT3i6pCaLlvmKmZ6mc7PgzvGADWRf-lalIxTENCPqe4KpXX9av6HfA46Y0rYYkwTgK3OmnxZA8Ncps3lEFXte-SVNoYSjpHElbM8V6Yl0la9IgsoZPfDygEU6tDBeAlcvHYiYjKQyXIawgWaLmRXVf5N5Lx1z_xlFos05q7zFARZFlqFineJe6FGDbAH924ZJEWZ2YralH3k-8GmF3OnNd0Zquwaa6GZ-FsOC6oisz6Md8TouwzZejhQZcSp12WRwN9Rcl1aIwkO8XORpgmJzRv7v79JnFqKsYhglrjZ5rU0KYxbn2mvFVycnKnKjyRpS0IQCyoSxK8Jl7SXO3M4Br5SFVBx6015t3_ecJcKvgATrvNJ-RIVOZC-qIT7BePxqFhfeKt1iVvV1hiKbaO6nIAm72xjQYHjhj6eRLpg=w727-h969-no?authuser=0" style="width:100%">
    </div>
  </div>
  
<!-- End Page Content -->
</div>

<!-- Footer / About Section -->
<footer class="w3-light-grey w3-padding-64 w3-center" id="about">
  <h2>About</h2>
  <img src="https://w3schools.com/w3images/boy.jpg" class="w3-image w3-padding-32" width="300" height="300">
  <form style="margin:auto;width:60%" action="/action_page.php" target="_blank">
    <p>My name is Dahlyek Seymour. Here's my artwork.</p>
    <p class="w3-large w3-text-pink">Do not hesitate to contact me!</p>
    <div class="w3-section">
      <label><b>Name</b></label>
      <input class="w3-input w3-border" type="text" required name="Name">
    </div>
    <div class="w3-section">
      <label><b>Email</b></label>
      <input class="w3-input w3-border" type="text" required name="Email">
    </div>
    <div class="w3-section">
      <label><b>Message</b></label>
      <input class="w3-input w3-border" required name="Message">
    </div>
    <button type="submit" class="w3-button w3-block w3-dark-grey">Send</button>
  </form>
  <br>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>
 

